<!-- <html>
<body>
    <p>Hi there!</p>
    <p>It works!</p>
</body>
</html>


<h2>A sub-heading</h2> for a heading at the next level
<h3>A sub-sub-heading</h3> …and so on, up to <h6>
<p>A paragraph of text</p>
<em>text</em> emphasizes your text
<strong>text</strong> strongly emphasizes your text
<br> goes to another line (you can't put anything inside br and there's no closing tag)
<a href="https://djangogirls.org">link</a> creates a link
<ul><li>first item</li><li>second item</li></ul> makes a list, just like this one!
<div></div> defines a section of the page
 -->
<div>
    <h1><a href="/">Django Girls Blog</a></h1>
</div>

{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}


